@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url(contact_img.jpg);
    background-repeat: no-repeat;
    background-position: 0 20%;
}
.panels{
    min-height: 100vh;
    display: flex;
    width: 100%;
}
.panel{
    font-family: 'Honk', system-ui;
    flex: 1;
    background-color: blueviolet;
    box-shadow: 0 0 10px yellow;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-weight: 800;
    transition: flex 3.5s cubic-bezier(.87,-0.15,.6,.48);
    color: white;
    
}
.open{
    flex: 5;
}
.h1contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iframe{
    max-width: 75%;
    max-height: 75%;
}
.contact{
    background-color: white;
}

/*.home{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 0;
}*/

.frame{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.meet{
    flex-direction: column;
    color: white;
    -webkit-text-stroke: 2px rgb(40 ,40 ,40);
    font-size: 2rem;
}
.meetcim{
    font-size: 3rem;
}
